{% extends 'layouts/base.html' %}
{%  block content %}
	<h1>JUanjo Ruiz - Fotografo</h1>
	<div class="about">
		<img src="https://picsum.photos/300/350">
		<div class="about-content">
			<h3>Lorem ipsum dolor sit amet</h3>
			<p>Mauris congue viverra quam, a interdum mauris egestas ut. Sed scelerisque urna vitae arcu mollis egestas. Phasellus leo tellus, tincidunt eu nulla non, porta imperdiet erat. Integer vehicula tincidunt mauris, nec ultricies dui molestie eu. Aliquam id pellentesque ipsum. Donec ullamcorper nisi erat, in aliquet neque mattis a. Nam eget mi dictum, pharetra sem ac, varius tellus.</p>
		</div>		
	</div>
{% endblock %}