
{% extends 'layout/base.html' %}


{% block 'title' %} Contacto {{ contact.name }} {% endblock %}

{% block 'content' %}

<form class="search" action="{% url 'contact' %}" method="get">
	<input type="text" name="search" class="search-bar" placeholder="Buscar Contacto...">
	<input type="submit" class="btn btn-search" value="Buscar">	
</form>
<span class="aux-btns"><a href="{% url 'contact' %}">Volver atras</a></span>
<ul class='list'>
		<li><b>Nombre: </b> {{ contact.name }} </li>
		<li><b>Apellido: </b> {{ contact.last_name }} </li>
		<li><b>Telefono: </b> {{ contact.phone }} </li>
		<li><b>Movil / Celular: </b> {{ contact.mobile }} </li>
		<li><b>Compania: </b>  {{ contact.company }} </li>
		<li><b>Fecha de creacion: </b> {{ contact.date }} </li>
		<li><b>Notas: </b> {{ contact.notes }} </li>
</ul>

{% endblock %}